<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>nexus-devzone</id>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>nexus-devzone</id>
            <mirrorOf>external:*</mirrorOf>
            <url>https://artifacts.we.decodeinsurance.de/repository/maven-devzone-public</url>
        </mirror>
    </mirrors>

</settings>
